# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history
.Rhistory

# Mac OSX
.DS_Store

# Targets
_targets/

# Data
*.csv
*.xls
*.xlsx
*~*

# C++
*.o
*.so

# PDFs
*.pdf

# Vignettes
inst/doc
