# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history
.Rhistory

# Mac OSX
.DS_Store

# Targets
_targets/

# Data
.csv
*.xls
*.xlsx
*~*

# C++
*.o
*.so

# Troubleshoot
troubleshoot/

# Visuals
temp/
*.html
Rplots.pdf

# Tex
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.log
*.odt
*.out
*.prv
*_.tex
auto/
manuscript.pdf
equations.pdf

# Org
*org#
.#*

# Emacs
*.el

# Vignettes
inst/doc
