# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history
.Rhistory

# Mac OSX
.DS_Store

# Targets
_targets/

# Data
*.csv
*.xls
*.xlsx
*~*

# C++
*.o
*.so

# PDFs
*.pdf
Rplots.pdf

# Tex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.odt
*.out

# Org
*org#
.#*

# Vignettes
inst/doc
